.profile__overlay {
  margin: 0 30px 0 0;
  height: 120px;
  max-width: 120px;
}

@media screen and (max-width: 915px) {
  .profile__overlay {
    margin: 0 0 14px 0;
  }
} 

.profile__overlay:hover {
  background-image: url('../../../images/EditAvatar.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}