.popup__button-close {
  width: 55px;
  height: 55px;
  background: transparent url(../../../images/Close-Icon.svg) center no-repeat;
  background-size: cover;
  border: none;
  position: absolute;
  top: -48px;
  right: -46px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    right: -15px;
    top: -55px;
  }
}

@media screen and (max-width: 373px) {
  .popup__button-close {
    width: 35px;
    height: 40px;
    top: -32px;
    right: -30px;
  }
}