.footer {
  padding: 66px 0 60px;
}

@media screen and (max-width: 915px) {
  .footer {
    max-width: calc(100% - (19px * 2));
    width: 100%;
    margin: 0 auto;
  }
} 

@media screen and (max-width: 373px) {
  .footer {
    padding: 48px 0 36px;
  }
} 