.popup__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 37px;
  max-width: calc(100% - (36px * 2));
  width: 100%;
  border: 0;
  padding: 0;
}

@media screen and (max-width: 373px) {
  .popup__form {
    max-width: calc(100% - (22px * 2));
    width: 100%;
    margin-bottom: 25px;
  }
}