.popup {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, .5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}